<div id="signup-form">
  <form action="/signup" method="POST">
    <input type="hidden">
    <input type="text" name="user[username]" placeholder="Username">
    <input type="text" name="user[email]" placeholder="Email Address">
    <input type="password"  name="user[password]" placeholder="Password">
    <input type="submit" value="Signup">
  </form>
</div>