/*== MAIN ==*/
body {
  /*border-top: 1em solid black;*/
  background-color: #94C7B6;
}

.display-table, th, td {
  padding-left: 39px;
  padding-top: 20px;
  font-family: 'Questrial', sans-serif;
  font-size: 15px;
}

a {
  font-size: 18px;
}

th {
  font-size: 20px;
}

h1 {
  font-family: 'Life Savers', cursive;
}

p2 {
  text-align: left;
  padding-right: 5px;
}

div#new-item {
  width: 200px;
  padding-left: 70px;
  font-size: 20px;
}

#go-back {
float: right;
font-size: 25px;
padding-right: 40px;
}

.all-views {
left: 36%;
position: absolute;
/* right: 30%; */
width: 500px;
}

#welcome-page {
  text-align: center;
}

h2 {
font-size: 50px;
/*font-family: 'Questrial', sans-serif;*/
/*font-family: 'Poiret One', cursive;*/
/*font-family: 'Life Savers', cursive;*/
/*font-family: 'Indie Flower', cursive;*/
font-family: 'Pacifico', cursive;

}

h4 {
  font-size: 25px;
  font-family: 'Life Savers', cursive;
}


#no-user-login {
font-family: 'Questrial', sans-serif;
font-size: 25px;
position: absolute;
text-align: center;
margin-top: 250px;
border-style: solid;
border-width: 3px;
width: 200px;
right: 42%;
}

div#hidden-login {
position: absolute;
text-align: center;
right: 40%;
margin-top: 300px;
padding: 10px;
}

/*div#login-form {
width: 200px;
border-style: solid;
padding: 10px;
text-align: center;
}*/

div#login-form {
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  position: absolute;
  padding-top: 10px;
  right: 10%;
  width: 250px;
  height: 95px;
  border-style: solid;
  background-color: #BCE3C5;
}


div#signup-form {
font-family: 'Questrial', sans-serif;
font-size: 20px;
position: absolute;
padding-top: 10px;
right: 13%;
width: 250px;
height: 120px;
border-style: solid;
background-color: #BCE3C5;
}

.edit-item {
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  width: 40px;
  text-align: center;
}

#edit-submit {
  margin-top: 15px;
}

.new-box {
  font-size: 25px;
}