<h1>New Box</h1>

<div id="new-box">
  <form action="/box/new" method="POST">
    <input type="hidden">
    <div id='box-info'>
      <input type="text" name="box[name]" placeholder="Box Name">
    </div>
    <input type="submit" value="Submit">
  </form>
</div>