
<div class="display-header"><h1>Your current inventory:</h1></div>
<a href="/box/new">click here to create a new box:</a>
<div id="new-box"></div>
<table class="display-table">
  <th> Box Name</th>
  <th> Contents </th>
  <th>  </th>
<% current_user.boxes.each do |box| %>
<tr>
  <td><a href="/box/<%= box.id %>"><%= box.name.capitalize %></a></td>
  <td><%= box.items.length %> Items</td>
  <td>
    <form action="/box/<%= box.id %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete">
    </form>
  </td>
</tr>
<% end %>
</table>
